{% extends "panel_base.html" %}

{% block title %}ویرایش دوره{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-warning text-white text-center">
                    <h3>ویرایش دوره</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">ویرایش دوره</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
